:root {
  --bg: #f5f7fb;
  --bg-elev: #ffffff;
  --fg: #111827;
  --muted: #cfd6e4;
  --border: #e5e7eb;

  /* rosa für die buttons in der sidebar und filter :)) */
  --primary: #ec4899;
  --accent: #3b82f6;

  /* Detail Buttons (Light Mode) */
  --pink-light: #fbcfe8;
  --pink-dark:  #9d174d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0b1220;
    --bg-elev: #121a2a;
    --fg: #e5e7eb;
    --muted: #2a3550;
    --border: #1f2937;

    /* bissi helleres rosa für buttons in sidebar und filter */
    --primary: #f472b6;
    --accent: #60a5fa;

    /* Detail Buttons (Dark Mode) */
    --pink-light: #f472b6;
    --pink-dark:  #831843;
  }
}
