:root {
  --bg: #f5f7fb;
  --bg-elev: #ffffff;
  --fg: #111827;
  --muted: #cfd6e4;
  --border: #e5e7eb;

  /* rosa für die buttons in der sidebar und filter :)) */
  --primary: #ec4899;
  --accent: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0b1220;
    --bg-elev: #121a2a;
    --fg: #e5e7eb;
    --muted: #2a3550;
    --border: #1f2937;

    /* bissi helleres rosa für buttons in sidebar und filter */
    --primary: #f472b6;
    --accent: #60a5fa; /*das man halt sieht wenn man grade auf diesem button ist*/
  }
}
