@use 'mixins' as *;

.layout {
  display: grid;
  gap: 16px;
  height: 100vh;
  padding: 16px;

  /* damit es responsive ist*/
  @media (min-width: 768px) {
    grid-template-columns: 300px 1fr;
  }
}

.icon-btn {
  background: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: var(--fg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background: var(--bg);
  color: var(--fg);
}


#filter-section {
  @include card;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 16px;
  align-items: center;

  select, button {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 6px 8px;
    background: var(--bg-elev);
    color: inherit;
  }

  button {
    background: var(--primary);
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
}

