@use "colors";
@use "mixins";
@use "layout";
@use "sidebar";
@use "buttons";
@use "eventlist";
@use "eventdetail";
@use "forms";
@use "filter";
@use "participants";
@use "tags";
@use "danger";

/* Main Layout  */
.main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
}

#filter-section,
#event-list-section {
  width: 100%;
}